SUBSYSTEM=="usb",ATTR{idVendor}=="2982",ATTR{idProduct}=="1967",MODE="0660",GROUP="audio"
SUBSYSTEM=="usb",ATTR{idVendor}=="17cc",ATTR{idProduct}=="1340",MODE="0660",GROUP="audio"
SUBSYSTEM=="usb",ATTR{idVendor}=="17cc",ATTR{idProduct}=="1350",MODE="0660",GROUP="audio"
SUBSYSTEM=="usb",ATTR{idVendor}=="17cc",ATTR{idProduct}=="1360",MODE="0660",GROUP="audio"
SUBSYSTEM=="usb",ATTR{idVendor}=="17cc",ATTR{idProduct}=="1410",MODE="0660",GROUP="audio"
